body{
    background-color: #EDDCFF;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.profil-container {
    margin: 10px 50px;
    text-align: center;
}

.profil-title {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.profil-ava img {
    width: 200px; 
    height: 200px;
}

.profil-item{
    margin: 30px 0;
}

.abmelden-btn {
    margin-top: 20px;
}

.btn {
    width: 100%;
    padding: 15px 0;
    background-color: #9745FF;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}

.btn:hover {
    background-color: #7633CC;
}