body{
    background-color: #EDDCFF;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.uber-container{
    padding-top: 40px;
    height: 100vh;
}

.uber-title {
    margin-bottom: 20px;
    text-align: center;
}

.uber-item h3 {
    margin: 0;
}

.uber-item p {
    margin: 0;
}

.line {
    padding-bottom: 10px;
}


.uber-btn {
    margin: 0 50px;
    margin-top: 20px;
}

.btn {
    width: 100%;
    padding: 10px 0;
    background-color: #9745FF;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}

.btn:hover {
    background-color: #7633CC;
}